/**
 * Show submit button when form is focused
 */
#floatForm.focused {
  .send, .list-tags {
    display: block;
  }
}

/**
 * Fix broken highlight.js styles
 */
.b-typo pre.hljs-code-container {
  border: none;
  background: none;
  padding-left: 0;
  max-width: none;

  code {
    background: inherit;
    padding: inherit;
  }
}

.dou-enhancer-image-preview {
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}

.dou-enhancer-media-size-small {
  .dou-enhancer-image-preview img {
    width: 25%;
  }
}

/**
 * None is deprecated
 */
.dou-enhancer-media-size-none {
  @extend .dou-enhancer-media-size-small;
}

.dou-enhancer-media-size-medium {
  .dou-enhancer-image-preview img {
    width: 33%;
  }
}

.dou-enhancer-media-size-big {
  .dou-enhancer-image-preview img {
    width: 50%;
  }
}

.uk-grid[uk-lightbox] > div > div {
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
  height: 0;

  > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
