/**
 * Show submit button when form is focused
 */
#floatForm.focused {
  .send, .list-tags {
    display: block;
  }
}

/**
 * Fix broken highlight.js styles
 */
.b-typo pre.hljs-code-container {
  border: none;
  background: none;

  code {
    background: inherit;
    padding: inherit;
  }
}

.dou-enhancer-yt-preview {
  padding: 10px 5px 5px;

  iframe {
    box-shadow: 0 0 5px 0px #999;
    max-width: 100%;
    width: 800px;
    height: 450px;
  }
}

.dou-enhancer-image-preview {
  padding: 10px 5px 5px;

  img {
    box-shadow: 0 0 5px 0px #999;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}

.dou-enhancer-media-size-none {
  .dou-enhancer-yt-preview, .dou-enhancer-image-preview {
    display: none;
  }
}

.dou-enhancer-media-size-small {
  .dou-enhancer-yt-preview iframe {
    width: 240px;
    height: 135px;
  }

  .dou-enhancer-image-preview img {
    width: 200px;
  }
}

.dou-enhancer-media-size-medium {
  .dou-enhancer-yt-preview iframe {
    width: 500px;
    height: 281px;
  }

  .dou-enhancer-image-preview img {
    width: 500px;
  }
}
