.alerts {
  .message {
    cursor: pointer;
  }
}

.dev-options-expander {
  color: #00b0e8;

  &:before {
    display: inline;
    content: 'Show development options';
    border-bottom: dashed #00b0e8;
    cursor: pointer;
  }

  &.expanded:before {
    content: 'Hide development options';
  }
}

#configAlerts {
  position: fixed;
  top: 2em;
  right: 2em;
}
