body {
  min-width: 400px;
}

h1, h2, h3, h4 {
  text-align: center;
  color: #444;
}

.credits {
  text-align: center;
  color: #999;
}

.alerts {
  .message {
    color: #fff;
    padding: 0.5em;
    border-radius: 3px;
    cursor: pointer;

    + .message {
      margin-top: 1em;
    }
  }

  .success {
    background: #5cb85c;
  }

  .failure {
    background: #d9534f;
  }

  .warning {
    background: #f2b968;
  }
}

#profilerStats {
  pre {
    max-height: 200px;
    overflow: auto;
  }
}

.dev-options.hidden {
  display: none;
}

.dev-options-expander {
  color: #00b0e8;

  &:before {
    display: inline;
    content: 'Show development options';
    border-bottom: dashed #00b0e8;
    cursor: pointer;
  }

  &.expanded:before {
    content: 'Hide development options';
  }
}
