body {
  min-width: 640px;
}

.credits {
  text-align: center;
  color: #999;
}

.alerts {
  .message {
    cursor: pointer;
  }
}

.dev-options.hidden {
  display: none;
}

.dev-options-expander {
  color: #00b0e8;

  &:before {
    display: inline;
    content: 'Show development options';
    border-bottom: dashed #00b0e8;
    cursor: pointer;
  }

  &.expanded:before {
    content: 'Hide development options';
  }
}
